<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.etime.xsjsc.dao.InformMapper" >
    <resultMap id="BaseResultMap" type="edu.etime.xsjsc.pojo.Inform" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="date" property="date" jdbcType="TIMESTAMP" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, date,title,content
  </sql>
    <select id="selectinformByid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from inform
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!-- 查询商品类型列表 -->
    <select id="listselectinform" resultMap="BaseResultMap" parameterType="edu.etime.xsjsc.pojo.Inform" >
        select
        id, date,title,content
        from inform
        order by date
    </select>

    <delete id="deleteinform" parameterType="java.lang.Integer" >
    delete from inform
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="edu.etime.xsjsc.pojo.Inform" >
    insert into inform (id, date, title,content
      )
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR}
      )
  </insert>

    <update id="updateinform" parameterType="edu.etime.xsjsc.pojo.Inform" >
    update inform
    set date = #{date,jdbcType=TIMESTAMP},
      title = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="edu.etime.xsjsc.pojo.Inform" >
        update inform
        <set >
            <if test="date != null" >
                date = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>